#content-container {
    width: 70%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
  }
  
  .gallery-pics {
    width: 23%; 
    margin-bottom: 20px;
  }
  .gallery-pics img {
    max-width: 100%;
    height: auto;
    transition: transform 0.4s ease-in-out;
    border: 2px solid #fff;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.4);
  }
  
  .gallery-pics img:hover {
    transform: scale(1.1);
  }
.naslov{
  margin-bottom: 3%;
}